.about {
  background-color: var(--bg-main-grey);
  padding: 30px 30px 50px;
  text-align: center;
  color: var(--font-color-grey);
}

.about-title {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-description {
  font-size: 28px;
  font-weight: 300;
  text-align: justify;
  text-indent: 36px;
}

@media (max-width: 850px) {
  .about-title {
    font-size: 32px;
  }
  .about-description {
    font-size: 14px;
  }
}
